extends layout

block content
    h2 Cindy (aka. the only girl) is a lively one to say the least.
    p She is living in Toronto, working full-time but looking to get back into studies.
    include footer