doctype html
html
  head
    title= title
    h2 Welcome to #{title}
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
  body.p-5
      a(href='/index')
        |Index
      |  | 
      a(href='/saengsadeth')
        |Saengsadeth
      |  | 
      a(href='/symongkout')
        |Symongkout
      |  | 
      a(href='/simon')
        |Simon
      |  | 
      a(href='/cindy')
        |Cindy
      |  | 
      a(href='/tommy')
        |Tommy
      |  | 
      a(href='/timmy')
        |Timmy
      block content