extends layout

block content
    h2 Saengsadeth(middle name: Kay) is a hard working lady who barely knows what it means to take a break.
    p She immigrated to Canada around the same time as Symongkout, raised 4 kids as a young mother. She is amazing at cooking, she is the best.
    include footer