extends layout

block content
    h2 Simon (aka. Simon jr.) the youngest of my siblings, an avid gamer.
    p Also a programmer, currently completing his studies at McMaster University.
    include footer