extends layout

block content
    h2 Symongkout(middle name: Simon) is man that doesn't know the meaning of giving up.
    p When Laos was in a civil war around the 1970's he fled to Canada and made a life and home for his family.
    include footer