extends layout

block content
    h2 Timmy (birth name: Tim) is the second eldest child in his family.
    p A jack of all trades but a master of none...this is his second tenure at Georgian College.
    include footer